In [ ]:
Q1. Create one variable containing following type of data:
   (1) string
   (2) list
   (3) float
   (4) tuple

In [ ]:
answer Q1:

In [1]:
a="dipti"

In [2]:
b=[123,2.44,"dipti",True,3+4j]

In [5]:
c=2.456

In [7]:
d=(234,45.678,"jyoti",False,4+8j)

In [ ]:
Q2. Given are some following variables containing data:
    (1)var1=' '
ans. String
    (2)var2= '[DS,ML,Python]'
ans. String
    (3)var3=['DS','ML','python']
ans. List
    (4)var4=1
ans. integer

In [ ]:
Q3. Explain the use of following operators using an example:
    (a) /
    (b) %
    (c) //
    (d) **

In [ ]:
Answer3:

In [ ]:
(a) The / operator is used for division of numbers.
    for example:

In [8]:
20/10

2.0

In [ ]:
(b) The % operator is used for finding the remainder of numbers.
    for example:

In [10]:
4%3

1

In [ ]:
(c) The // operator is used for division floor function.
    for example:

In [11]:
4//3

1

In [ ]:
(d) The ** operator is used for solving the exponent power of numbers.
    for example:

In [12]:
2**3

8

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the elements and its data type.

In [ ]:
Answer4:

In [1]:
e=[234,34.568,"Dipti",True,4+7j,45,"pwskills",False,3+7j,8.9]  
for z in e:
     print(z)
     print(type(z))

234
<class 'int'>
34.568
<class 'float'>
Dipti
<class 'str'>
True
<class 'bool'>
(4+7j)
<class 'complex'>
45
<class 'int'>
pwskills
<class 'str'>
False
<class 'bool'>
(3+7j)
<class 'complex'>
8.9
<class 'float'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
Answer:

In [5]:
A = 20
B = 2

count = 0
while A%B ==0:
    A = A/B
    count +=1
if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
          print(f"{A} is not divisible by {B}.")

5.0 is divisible by 2 and can be divided 2 times.

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [ ]:
Answer:

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for num in numbers:
    if num%3 ==0:
        print(f"{num} is divisible by 3.")
else:
    print(f"{num} is not divisible by 3.")

3 is divisible by 3.
6 is divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
Answer: Mutable data types are those whose value can be modified after they are created.
        for example. list

In [3]:
l= ['dipti' , 1, 2, 3, 4, True, 25.6]

In [4]:
l[2]= 5

In [5]:
l

['dipti', 1, 5, 3, 4, True, 25.6]

In [ ]:
Immutable data types are those whose value cannot be modified after they are created.
        for example. string

In [9]:
s =  "dipti"

In [10]:
s

'dipti'

In [11]:
s[2]

'p'

In [12]:
s[2] = g

NameError: name 'g' is not defined

In [13]:
s

'dipti'