In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. 
Then, print the series.

In [ ]:
Answer.

In [16]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
df1 = pd.Series(data)

In [17]:
print(df1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series
function on the
variable print it.

In [ ]:
Answer.

In [18]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df1 = pd.Series(my_list)

In [19]:
print(df1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
Name      
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [ ]:
answer.

In [20]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df3 = pd.DataFrame(data)

In [21]:
print(df3)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? 
Explain with an example.

In [ ]:
answer

In [ ]:
In pandas, a "DataFrame" is a two-dimensional, tabular data structure with labeled
axes (rows and columns).You can think of it like a spreadsheet or SQL table where 
data is organized in rows and columns.

A Series, on the other hand, is a one-dimensional labeled array. It can be thought 
of as a single column in a DataFrame. A DataFrame is essentially a collection of 
Series where each Series represents a column.

In [22]:
#for example: 
Age = [25, 30, 27]
series = pd.Series(Age)

data1 = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
data_frame= pd.DataFrame(data)

In [23]:
print("series:")
print(series)
print(type(series))

print("data_frame:")
print(data_frame)
print(type(data_frame))

series:
0    25
1    30
2    27
dtype: int64
<class 'pandas.core.series.Series'>
data_frame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? 
Can you give an example of when you might use one of these functions?

In [ ]:
answer

In [ ]:
The common functions are:
1.head() and tail():
head(n) returns the first n rows of the DataFrame.
tail(n) returns the last n rows of the DataFrame.

2. df.columns
   to get the columns of data frame
    
3. df.['column1']
   to get all the data of the particular column 

4. df.[['column1', 'column2', 'column3']]
   to get all the data of the multiple columns
    
5. df.dtype
   to get the data types of the columns
    
6. info():
   info() provides a concise summary of the DataFrame, including data types 
   and missing values.
    
7. drop():
   drop() is used to remove rows or columns from a DataFrame.   

8. fillna():
   fillna() is used to fill missing values in the DataFrame.

9. drop_duplicates():
   drop_duplicates() is used to remove duplicate rows from the DataFrame.

10. describe():
    describe() provides summary statistics of numeric columns.

In [24]:
# for example:
df1 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [25]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [26]:
df1["PassengerId"]

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Answer. Series is mutable. You can modify the values of a Series after it
        has been created.
        DataFrame is also mutable. You can add, remove, or modify columns,
        as well as change the values within the DataFrame.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
answer.

In [ ]:
You can create a DataFrame using multiple Series by passing a dictionary where the keys
are the column names and the values are the corresponding Series.
Here's an example:

In [27]:
import pandas as pd

# Create multiple Pandas Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Create a DataFrame using the Series
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female